<main class="professional-infos">
  <header class="professional-infos professional-infos__header">
    <a [routerLink]="'/dashboard'" nz-button nzType="link">
      <nz-icon nzType="left" />
      <span>Voltar</span>
    </a>
    <h1>Preencha todos os dados</h1>
  </header>
  <form class="professional-infos professional-infos__body__form">
    <div>
      <label for="name">Nome</label>
      <input nz-input placeholder="Leonardo Andrade" id="name" nzSize="large" />
    </div>
    <div>
      <label for="email">Email</label>
      <input nz-input placeholder="contato@leo.com" id="email" nzSize="large" />
    </div>
    <div class="professional-infos__body__form__group-field--inline">
      <div class="professional-infos__body__form__group-field">
        <label for="company">Empresa</label>
        <input nz-input placeholder="NDD Tech" id="company" nzSize="large" />
      </div>
      <div class="professional-infos__body__form__group-field">
        <label for="job-title">Cargo</label>
        <input nz-input placeholder="Software Engineer" id="job-title" nzSize="large" />
      </div>
    </div>
    <button class="professional-infos__body__form__button" nz-button nzType="primary">
      Salvar
    </button>
  </form>
</main>
