<main>
  <header>
    <a [routerLink]="'/dashboard'" nz-button nzType="link">
      <nz-icon nzType="left" />
      <span>Voltar</span>
    </a>
    <h1>Meus Perfis</h1>
  </header>
  <div style="display: flex; flex-direction: column; gap: 12px;">
    <nz-card nzTitle="Default" nzSize="small" [nzActions]="cardActions">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, laudantium!</p>
    </nz-card>
    <nz-card nzTitle="Software Engineer | Generic" nzSize="small" [nzActions]="cardActions">
      <p>Lorem ipsum dolor sit.</p>
    </nz-card>
    <nz-card nzTitle="Front-End Engineer" nzSize="small" [nzActions]="cardActions">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, laudantium!</p>
    </nz-card>
    <nz-card nzTitle="Uber 12/24" nzSize="small" [nzActions]="cardActions">
      <p>lorem100</p>
    </nz-card>
  </div>
</main>

<ng-template #editTemplate>
  <i nz-icon nzType="edit"></i>
</ng-template>

<ng-template #deleteTemplate>
  <i nz-icon nzType="delete"></i>
</ng-template>
