<div>
  <button (click)="addDynamicData()" nz-button nzType="primary" style="padding: 0 8px;">
    {{buttonText}}
  </button>
  <div *ngFor="let data of dynamicData; let i = index; trackBy: trackByIndex" style="margin: 20px 0;">
    <div style="display: flex; gap: 20px; align-items: center;">
      <input nz-input  [placeholder]="(i + 1)"  [ngModel]="data" id="index" nzSize="large" (ngModelChange)="atualizar(i, $event)"/>
      <button style="padding: 0 8px;" type="button" nz-button nzType="primary" [nzSize]="'large'" (click)="removeDynamicData(i)">Remover</button>
    </div>
  </div>
</div>
